
.DS_Store
*.sublime-project
*.sublime-workspace
.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace

pids
logs
results

node_modules/

*.map
*.css
!font.css

dump.rdb
bundle.js
bundle.js.map
dist/
tmp/

!src/routes/logs
data/rdb/

.env
